body {
  background-color: #121212;
  color: #fff;
}

button {
  background-color: green;
  color: #fff;
  width: 100px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.6;
}

input {
  background-color: #333;
  color: #ddd;
}

label {
  color: #ddd;
}

span {
  word-break: break-all;
}