@font-face {
  font-family: 'v';
  src: url('/v.ttf') format('truetype');
}

body {
  background: linear-gradient(45deg, #ff0000, #00ffff, #ff00ff, brown, #00ff00);
  color: #ffff00;
  transform: rotate(.5deg);
}

body:hover {
  cursor: pointer;
  transform: rotate(-3deg);
}

button {
  background: linear-gradient(45deg, #00ff00, #ff00ff, #00ffff, #ff0000);
  color: black;
  width: 100px;
  padding: 10px;
  cursor: pointer;
  text-shadow: 2px 2px 2px red;
}

button:hover {
  cursor: auto;
  caret-color: red;
  border: 2px solid green;
  background-color: yellow;
  padding: 5px;
  font-family: 'v';
  font-size: 40px;
  overflow: overflow;
  white-space: nowrap;
  text-position: center;
  transform: rotate(3deg);
}

input {
  background: linear-gradient(45deg, #00ffff, #ff0000, #00ff00, #ffff00);
  color: #ff0000;
}

label {
  color: black;
  background: yellow;
}

span {
  word-break: break-all;
}
