@font-face {
  font-family: 'JollySweaterRegular';
  src: url('/JollySweaterRegular-51gda.ttf') format('truetype');
}

@font-face {
  font-family: 'it';
  src: url('/it.ttf') format('truetype');
}

@font-face {
  font-family: 'crumbs';
  src: url('/Crumbs.ttf') format('truetype');
}

@font-face {
  font-family: 'psycho';
  src: url('/psycho.otf') format('truetype');
}

@font-face {
  font-family: 'sand';
  src: url('/sand.ttf') format('truetype');
}

.main {
  text-align: center;
  padding: 5vh 0;
  background: linear-gradient(135deg, #8b4513, #cd853f, red, hotpink, lime, #8fbc8f);
  color: black;
  text-shadow: 1px 5px 6px lightgreen;
  margin-top: 2vh;
  animation: flame .5s infinite alternate ease-in-out; 
}

.main h1 {
  font-family: 'crumbs';
  animation: flame .3s infinite alternate ease-in-out; 
}

.main h2 {
  font-family: 'it';
}

.main h3 {
font-family: 'JollySweaterRegular';
border: 3px double brown;
}

.main h3:hover {
  transform: translate(2px, -4px);
  color: darkgreen;
}

.main h4 {
  border: 3px double blue;
  font-size: 2.5em;
  margin: 0;
}

.main h4:hover {
  transform: translate(2px, 4px);
  font-family: 'sand';
}

.main h5 {
  font-family: 'psycho';
  font-size: 2.5em;
  border: 3px double blue;
  margin: 0;
}

.main h5:hover {
  transform: rotate(1deg);
  color: red;
  font-weight: bold;
  background: darkred;
  text-shadow: 0px 10px 1px black;
  text-shadow: 10px -1px 12px black;
}

.main h6 {
  border: 3px solid purple;
  font-size: 1em;
}

.main h6:hover {
  animation: flame .1s infinite alternate ease-in-out;
  color: lightblue;
}

.modal {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
  transition: all 0.3s ease;
  padding: 20px;
  background: linear-gradient(135deg, #bc8f8f, #d2b48c, #6b8e23, #b0e0e6);
}

.modal:hover {
  transform: rotate(5deg);
}

.modal h2 {
  margin-bottom: 15px;
  color: black;
}

.modal input:hover {
  margin-bottom: 5px;
  color: darkgrey;
  transform: rotate(5deg);
}

.modal input,
.modal button {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: linear-gradient(135deg, #ff8c00, #ffd700, #20b2aa, #8a2be2);
}

.modal input:focus {
  border-color: #76ff03;
  box-shadow: 0 0 5px #76ff03;
}

.modal button {
  background-color: #8b4513;
}

.modal button:hover {
  background-color: #2e8b57;
}

.buttonRow {
  margin-top: 20px;
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@keyframes flame {
  0% {
    box-shadow: 0 0 100px brown, 0 0 200px purple, 0 0 300px yellow, inset 0 0 100px black, inset 0 0 200px aqua, inset 0 0 300px brown, inset 0 0 400px darkgrey;
  }
  25% {
    box-shadow: 0 0 150px brown, 0 0 250px purple, 0 0 350px yellow, inset 0 0 150px black, inset 0 0 250px aqua, inset 0 0 350px brown, inset 0 0 450px darkgrey;
  }
  50% {
    box-shadow: 0 0 250px brown, 0 0 350px purple, 0 0 450px orange, inset 0 0 250px black, inset 0 0 350px aqua, inset 0 0 450px brown, inset 0 0 550px darkgrey;
  }
  75% {
    box-shadow: 0 0 150px brown, 0 0 250px purple, 0 0 350px darkorange, inset 0 0 150px black, inset 0 0 250px aqua, inset 0 0 350px brown, inset 0 0 450px darkgrey;
  }
  100% {
    box-shadow: 0 0 100px brown, 0 0 200px purple, 0 0 300px yellow, inset 0 0 100px black, inset 0 0 200px aqua, inset 0 0 300px brown, inset 0 0 400px darkgrey;
  }
}
